{% extends base.html %}
{% block core %}
<div class="span9">

<div class="page-header">
    <h1>{{ _("Documentation") }}</h1>
</div>

<h2>{{ _("Programming languages and libraries") }}</h2>

Usa Devhelp, è installato sul PC, è una delle icone presenti nel launcher, sulla sinistra. Devi aprirlo e poi selezionare, tra le tante "documentazioni" presenti, quella del C o del C++ (in base a quello che ti serve).

<h2>{{ _("Submission details for compilation") }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{{ _("Message") }}</th>
      <th>{{ _("Explanation") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in COMPILATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help) }}</td>
    </tr>
    {% end %}
  </tbody>
</table>

<h2>{{ _("Submission details for evaluation") }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{{ _("Message") }}</th>
      <th>{{ _("Explanation") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in EVALUATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help) }}</td>
    </tr>
    {% end %}
  </tbody>
</table>

</div>
{% end %}
